#home {
  background-color: $gray;
  color: white;
  // min-height: calc(100vh - 170px);
  display: flex;
  // align-items: center;
  justify-content: space-around;
  padding-top: 1.5em;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
  .container > h2 {
    color: black;
  }
}
