// Define variables for your color scheme

// For example:
$red: #D4312D;
$blue: #5E74ED;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #F4F4F3;
$light-gray: #F4F4F4;
$base-color: #228BE6;

